<h3>Priveasy.org Email Verification</h3>
<p>`, a user at Priveasy.org, has chosen to forward emails to this address. If this was you, please submit the following verification token on your account page, in the email forwarding section:</p>
<p style="text-align: center;">~</p>
<p>After receiving the success message, the forwarder will be activated within 15 minutes. If you wish to disable a forwarder, you may do so by deleting it at any time.</p>
<p>If this was not you, simply ignore this email. Someone may have accidentally misspelled their email address. You will not be forwarded any emails and the user will be prevented from using this email address again.</p>
<p>Thank you,</p>
<p>Priveasy.org</p>
