{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Reset Your Password</title>
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/fullscreen.css" %}" rel="stylesheet">
    </head>
	<body class="text-center">
	<h1 class="h3 mb-3 font-weight-normal">We've emailed you instructions for resetting your password. If you don't see the email, please check your spam folder or try again being sure to enter the correct email address associated with your account.</h1>
    </body>
</html>
