{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Password Reset Confirmation</title>
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/fullscreen.css" %}" rel="stylesheet">
    </head>
    <body class="text-center">
        {% if validlink %}
        <form class="form-signin" action="." method="post">
            <h1 class="h3 mb-3 font-weight-normal">Reset Your Password</h1>
            <form action="." method="post">
                <p>Please enter your new password twice.</p>
                {{ form.as_p }}
                {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
        </form>
	{% else %}
	<h1 class="h3 mb-3 font-weight-normal">The password reset link is invalid. It may have already been used or has expired. Please request a new password reset.</h1>
	{% endif %}
    </body>
</html>
